<div id="wrapper">
  <mat-list>
    <div *ngFor="let task of tasks">
      <mat-list-item>
        <mat-icon data-status="unliked" (click)="toggleLikeStatus()"
          >favorite_border</mat-icon
        >
        <div (click)="openBottomSheet(task)">
          <p mat-line class="title">{{ task.title }}</p>
          <p mat-subheader class="subtitle">Bisher so viele Stunden erfasst</p>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </mat-list>
  <button
    mat-fab
    color="primary"
    aria-label="Add new task"
    id="addTaskButton"
    (click)="openNewTaskDialog()"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
