<div id="wrapper">
  <mat-list>
    <mat-list-item>
      <mat-icon data-status="unliked" (click)="toggleLikeStatus()">favorite_border</mat-icon>
      <div>
        <p mat-line class="title">Task title</p>
        <p mat-subheader class="subtitle">Bisher so viele Stunden erfasst</p>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon data-status="liked" (click)="toggleLikeStatus()">favorite</mat-icon>
      <div>
        <p mat-line class="title">Task title</p>
        <p mat-subheader class="subtitle">Bisher so viele Stunden erfasst</p>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <mat-icon data-status="unliked" (click)="toggleLikeStatus()">favorite_border</mat-icon>
      <div>
        <p mat-line class="title">Aufgabe mit einem etwas längeren Titel</p>
        <p mat-subheader class="subtitle">Bisher so viele Stunden erfasst</p>
      </div>
    </mat-list-item>
  </mat-list>
  <button mat-fab color="primary" aria-label="Add new task" (click)="openNewTaskDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
