<mat-card class="weekly-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Willkommen {{ name }}</mat-card-title>
    <mat-card-subtitle
      >Aktuelle Wochenübersicht vom
      {{
        date.getMonth() + 1 + "." + date.getDate() + "." + date.getFullYear()
      }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <div class="card-content-container">
      <p>
        Um einen Blick auf die letzten Aktivitäten zu werfen, wechsele einfach
        zum "Aktivitäten"-Reiter in der Hauptnavigation. Das Erfassen der Zeiten
        und Aktivitäten dort, beschert einen äußerst detaillierten Überblick
        über die persönlichen Arbeitsstunden.
        <br />
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="card-actions-container">
      <a mat-raised-button color="primary" routerLink="/activities"
        >ACTIVITIES</a
      >
    </div>
  </mat-card-actions>
</mat-card>
