<mat-card class="weekly-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Welcome {{ name }}</mat-card-title>
    <mat-card-subtitle
      >Your weekly overview on
      {{
        date.getMonth() + 1 + "." + date.getDate() + "." + date.getFullYear()
      }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <div class="card-content-container">
      <p>
        To take a look at your recent activities, navigate to the
        "Activities"-Tab in the main navigation. Try to keep track of your time
        and activities to get the most detailed overview over your job-hours.
        <br />
        <br />
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas,
        tempore perspiciatis cumque minima rerum, dolorum, nesciunt aspernatur
        iusto itaque doloremque beatae repellat accusantium omnis! Vero cumque
        commodi voluptate? Voluptatum, tenetur. Lorem, ipsum dolor sit amet
        consectetur adipisicing elit. Officiis minima assumenda distinctio, est
        saepe repellat ad nostrum voluptates autem ex quaerat eaque perspiciatis
        libero laudantium culpa, sed dolorem aspernatur voluptatibus!
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="card-actions-container">
      <a mat-raised-button color="primary" routerLink="/activities"
        >ACTIVITIES</a
      >
    </div>
  </mat-card-actions>
</mat-card>
