mat-list-item {
  margin: 10px 0 20px 0;
  height: auto !important;
}

mat-icon {
  cursor: pointer;
}

p {
  margin: 0;
}

.title {
  font-weight: 500;
  margin-bottom: 5px;
  padding: 0 20px;
  width: 70vw;
  white-space: normal !important;
}

.subtitle {
  height: fit-content;
  padding: 0 20px;
  width: 70vw;
  white-space: normal !important;
}

#addTimeTracking {
  padding: 12px 0 12px 0;
  display: flex;
  align-items: center;
  background-color: rgba(103, 59, 183, 0.3);
  cursor: pointer;
}

#addTimeTracking * {
  color: rgba(103, 59, 183, 1);
}

#addTimeTracking span {
  margin: 1px 0 0 5px;
  font-weight: 500;
}

.timeTrackItem div {
  margin-right: auto;
}

.timeTrackItem div p:first-child {
  margin-bottom: 5px;
  font-weight: 500;
}

.timeTrackItem span {
  font-weight: 500;
}

.timeTrackItem .delete-icon {
  padding-left: 20px;
}
