.weekly-card {
  max-width: 80%;
}

.header-image {
  background-image: url("https://via.placeholder.com/150");
  background-size: cover;
}

.card-content-container {
  padding-left: 1rem;
}

.card-actions-container {
  padding-left: 1.5rem;
}
