<mat-card class="weekly-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Willkommen {{ name }}</mat-card-title>
    <mat-card-subtitle
      >Aktuelle Wochenübersicht vom
      {{
        date.getMonth() + 1 + "." + date.getDate() + "." + date.getFullYear()
      }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <div class="card-content-container">
      <p>
        Um einen Blick auf Ihre letzten Aktivitäten zu werfen, 
        wechseln Sie zum "Aktivitäten"-Reiter in der Hauptnavigation. 
        Versuchen Sie, Ihre Zeit und Aktivitäten hier zu erfassen, 
        um einen möglichst detaillierten Überblick über Ihre Arbeitsstunden zu erhalten.
        <br />
        <br />
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas,
        tempore perspiciatis cumque minima rerum, dolorum, nesciunt aspernatur
        iusto itaque doloremque beatae repellat accusantium omnis! Vero cumque
        commodi voluptate? Voluptatum, tenetur. Lorem, ipsum dolor sit amet
        consectetur adipisicing elit. Officiis minima assumenda distinctio, est
        saepe repellat ad nostrum voluptates autem ex quaerat eaque perspiciatis
        libero laudantium culpa, sed dolorem aspernatur voluptatibus!
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="card-actions-container">
      <button mat-raised-button color="primary">AKTIVITÄTEN</button>
      <button mat-raised-button>PROFIL</button>
    </div>
  </mat-card-actions>
</mat-card>
